---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     0px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #4C4C4C;
$active_category_color: #2D50A9; 

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$banner_height:    400px;
// Width of the content area
$content-width:    800px;
$max_width_percent: 95%;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


body {
  font-size:14px;
}

.site-header{

  text-transform: uppercase;

  .bold{
    font-weight: 700;
  }

  a {
    display:inline-block;
    padding-left: 10px;
    margin-left: 20px;
  }


  .site-nav{
    
    margin-right:30px;
    li {
      display:inline-block;
    }

  }
}

.post-cat {

  text-transform: uppercase;
  padding-top:5px;
  padding-bottom:5px;
  text-align: center;

  .active {
    color: $active_category_color;
  }
  ul {

    margin:0px auto;

    li {
      cursor: pointer;
      margin:10px;
      padding: 3px;
      display: inline-block;
    }

  }

}


.banner {

  height:$banner_height;
  position:relative;
  width:100%;
  margin:0 auto;
  overflow-y: hidden;


  img {
    width: 100%;
  }

}

.banner img {

  position:absolute;
  left:0;

}

@keyframes bannerFadeInOut {
  0% {
    opacity:1;

  }
  17% {
    opacity:1;

  }
  25% {
    opacity:0;

  }
  92% {
    opacity:0;

  }
  100% {
    opacity:1;

  }

}


.banner img {
  -webkit-animation-name: bannerFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
}

.banner img:nth-of-type(1) {
  -webkit-animation-delay: 6s;

}
.banner img:nth-of-type(2) {
  -webkit-animation-delay: 4s;

}
.banner img:nth-of-type(3) {
  -webkit-animation-delay: 2s;

}
.banner img:nth-of-type(4) {
  -webkit-animation-delay: 0;

}

.post-list {

  .each-post{
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    width: 15%;
    background: grey;
  }

}

.post-wrapper{

  .side-post-list {

    .each-post{
      list-style-type: none;
      margin: 5px;
      padding: 5px;
      font-size: 10px;
      background: grey;
    }

  }
}



