---
layout: default
---

<div class="home">


  <div class="banner">
    <img src="{{ site.baseurl }}/images/download1.jpg">
    <img src="{{ site.baseurl }}/images/download2.jpg">
    <img src="{{ site.baseurl }}/images/download3.jpg">
    <img src="{{ site.baseurl }}/images/download4.jpg">
  </div>

  <div class="post-cat">
    <ul class="post-cat-list">
      <li class="category" data-cat="all">{{ "All" | capitalize }}</li>
      {% for cat in site.categories %}
      <li class="category" data-cat="{{ cat[0] }}">{{ cat[0] | capitalize }}</li>
      {% endfor %}
    </ul>
  </div>
    

  <h1 class="post-list-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <li class="each-post{% for cat in post.categories %} {{cat}}{% endfor %}">
      {% include post_snippet.html %}
    </li>
    {% endfor %}
  </ul>


</div>
