<head>
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <script src="{{ site.baseurl }}/js/jquery-2.1.3.min.js"></script>
  <script src="{{ site.baseurl }}/js/imagesloaded.pkgd.min.js"></script>
  <script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
  <script src="{{ site.baseurl }}/js/script.js"></script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
