<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <ul>
        <li class="page-link"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="page-link"><a href="{{ site.baseurl }}/about">About</a></li>
        <li class="page-link"><a href="{{ site.baseurl }}/partner">Partner</a></li>
        <li class="page-link"><a href="{{ site.baseurl }}/contact">Contact Us</a></li>
    </nav>

  </div>

</header>

